* {
  box-sizing: border-box;
}

header {
  font-size: 24px;
  text-align: center;
}

.container-header {
  font-size: 20px;
  text-align: center;
} 
body {
  font-family: sans-serif;
  background-color: #ad43eb;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  min-height: 100vh;
}

h2 {
  margin: 15px 0 25px;
}

input[type=checkbox] {
  margin-right: 0;
}

.capsule {
  background-color: rgba(241, 184, 24, 0.877);
  box-shadow: 0px 2px 10px rgba(233, 223, 223, 0.85);
  padding: 25px;
  width: 400px;
  max-width: 100%;
  border-radius: 25px;
}

.result-container {
  background-color: #ffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  padding: 15px 12.5px;
  height: 50px;
  width: 100%;
  border-radius: 12.5px;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 30%);
  color: aqua;
}

.result-container .clpbrd {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
}

.btn {
  border: none;
  color: #ffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 14px;
  background-color: #000;
  border-radius: 10px;
  align-items: center;
}

.container-footer {
  text-align: center;
  font-size: 12px;
  padding: 15px 0 0 15px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .result-container{
      font-size: 16px;
  }
}